.footer-container {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: .9rem;
  background-color: #010B15;
  color: #B6B6B6;
  text-align: center;
  width: 100vw;
  line-height: 150%;
  padding: 1.5rem;
}
