<section class="timer-card">
  <div class="timer-card__buttons">
    <button [ngClass]="active.focus" (click)="bgChange('focus')">
      <span>Foco</span>
    </button>
    <button [ngClass]="active.short" (click)="bgChange('short')">
      <span>Descanso curto</span>
    </button>
    <button [ngClass]="active.long" (click)="bgChange('long')">
      <span>Descanso longo</span>
    </button>
  </div>
  <div class="timer">25:00</div>
  <div class="timer-card__music">
    <label class="switch">
      <input type="checkbox" id="alternar-musica">
      <span class="slider"></span>
    </label>
    <label for="alternar-musica">
      Música
    </label>
  </div>
  <button class="timer-card__start">
    <img src="../../../assets/Ícones/play_arrow.png" alt="Ícone de tocar">
    <span>
      Começar
    </span>
  </button>
</section>
