.main-container {
  display: inline-block;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 1.5rem;
  overflow-x: hidden;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
}

.logo {
  width: 9.75rem;
  height: 2.5rem;
}

.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 6rem;
}

.container__content {
  align-self: flex-start;
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 200;
}

.container__content strong {
  font-weight: 400;
}

.container__img {
  width: 80%;
  max-width: 285.58px;
}

@media screen and (min-width: 768px) {
  .container__content {
    font-size: 3.35rem;
    line-height: 150%;
    padding: 0 6rem;
  }

  .container__img {
    width: 60%;
    max-width: 432px;
  }

  app-timer {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10rem;
    margin-bottom: 0;
  }
}
